<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietCare"
        tools:targetApi="31">
        <activity
            android:name=".favorite.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".main.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".recommendation.Recommendation5Activity"
            android:exported="false" />
        <activity
            android:name=".recommendation.Recommendation4Activity"
            android:exported="false" />
        <activity
            android:name=".recommendation.Recommendation3Activity"
            android:exported="false" />
        <activity
            android:name=".recommendation.Recommendation2Activity"
            android:exported="false" />
        <activity
            android:name=".recommendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".meal.MealActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>