<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DietCare"
        tools:targetApi="31">
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.DeleteProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.webview.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.progress.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.Recommendation5Activity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.Recommendation4Activity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.Recommendation3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.Recommendation2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.recommendation.RecommendationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.meal.MealActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>